body {
  background-color: #f0e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.calculator {
  background: rgb(247, 241, 241);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 10px rgba(0, 0, 0, 0.2);
  width: 260px;
}

#display {
  width: 100%;
  height: 50px;
  text-align: right;
  font-size: 24px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #45a049;
}

.operator {
  background-color: #125e6b;
}

.operator:hover {
  background-color: #125e6b;
}

.clear {
  background-color: #f44336;
}

.clear:hover {
  background-color: #f44336;
}

#equal {
  grid-column: span 4;
  background-color: #f7a43f;
}

#equal:hover {
  background-color: #f7a43f;
}
